<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="UTF-8"> 
  <title></title> 
</head> 
<body> 
  <h1 style="color: green;"><%= title %> </h1>

  
  <a href="/sign-up">SIGN-UP</a>   |   <a href="/log-in">LOG-IN</a>   |    <a href="/"> HOME </a>
</body> 
</html>